/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.container {
	display: flex;
	margin-bottom: 20px;
}

.container:first-child > div {
	margin-left: 1%;
	margin-right: 1%;
}

.lwhh-card-two,
.lwhh-card-two * {
	box-sizing: border-box;
}

.lwhh-text {
	&--left {
		text-align: left;
	}
	&--center {
		text-align: center;
	}
	&--right {
		text-align: right;
	}
}

.lwhh-card-two {
	position: relative;
	word-wrap: break-word;
	background-color: #f1f1f1;
	background-clip: border-box;
	border-radius: 0.5rem;
	overflow: hidden;
	&-figure {
		position: relative;
		img {
			width: 100%;
			border-top-left-radius: calc(0.5rem - 1px);
			border-top-right-radius: calc(0.5rem - 1px);
			object-fit: cover;
		}
	}

	&--figure-left,
	&--figure-right {
		display: flex;
		flex-direction: row;
		align-items: center;
		.lwhh-card-two-figure {
			width: 50%;
			height: 100%;
			overflow: hidden;

			img {
				max-width: 100%;
				border-radius: calc(0.5rem - 1px) 0 0 calc(0.5rem - 1px);
				height: auto;
				vertical-align: bottom;
			}
		}
		.lwhh-card-two-body {
			width: 50%;
			padding: 2.5rem;
		}
	}

	&--figure-right {
		flex-direction: row-reverse;
		.lwhh-card-figure-two {
			img {
				border-radius: 0 calc(0.5rem - 1px) calc(0.5rem - 1px) 0;
			}
		}
	}
}

.lwhh-label {
	background-color: #fff;
	padding: 0.475rem 1.1rem;
	border-radius: 50px;
	position: absolute;
	font-size: 14px;
	font-weight: bold;

	&--top-left {
		left: 1rem;
		top: 1rem;
	}

	&--top-center {
		left: 50%;
		transform: translateX(-50%);
		top: 1rem;
	}

	&--top-right {
		right: 1rem;
		top: 1rem;
	}

	&--middle-left {
		top: 50%;
		transform: translateY(-50%);
		left: 1rem;
	}

	&--middle-center {
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	&--middle-right {
		top: 50%;
		transform: translateY(-50%);
		right: 1rem;
	}

	&--bottom-left {
		left: 1rem;
		bottom: 1rem;
	}

	&--bottom-center {
		left: 50%;
		transform: translateX(-50%);
		bottom: 1rem;
	}

	&--bottom-right {
		right: 1rem;
		bottom: 1rem;
	}
}

.lwhh-card-two {
	&-body {
		padding: 1.5rem;
	}

	&-title {
		margin-top: 0;
		margin-bottom: 0.75rem;
		color: #151515;
		font-size: 24px;

		&:before {
			content: "";
		}
	}

	&-text {
		margin-bottom: 2rem;
		color: #616161;
		font-size: 16px;
		line-height: 1.7;

		> p {
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	&-btn {
		background-color: #8c8c8c;
		color: #fff;
		text-decoration: none;
		padding: 0.575rem 1.3rem;
		line-height: 1.5;
		border-radius: 0.25rem;
		text-align: center;
		vertical-align: middle;
		display: inline-block;
		font-size: 14px;
		font-weight: bold;
		transition: all 0.3s;

		&:hover,
		&:focus {
			background-color: #242424;
		}
	}
}
.lwhh-card-two-figure .ctrl-btn-wrapper {
	position: absolute;
	top: 50%;
	right: 50%;
}
