/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-lwhh-ovi-image {
	overflow: hidden;
	min-width: 100px;
	min-height: 100px;
	border: 1px solid black;
	img {
		max-width: 100%;
		display: block;
	}
}
